.github/**

.vscode/**
.vscode-test/**
.vscode-test-web/**

**/*.ts
**/*.map
*.yml

src/**
out/**
dist/test/**
dist/**/*.map
node_modules/**

resources/*
!resources/logo.png

.gitignore
.eslintrc.js
tsconfig.json
tslint.json
webpack.config.js
